<!--<% if (site.tags.length){ %>-->
  <!--<div class="tagCl widget-wrap">-->
    <!--<h3 class="widget-title">TAGS</h3>-->
    <!--<div class="widget tagcloud">-->
      <!--<%- tagcloud() %>-->
    <!--</div>-->
  <!--</div>-->
<!--<% } %>-->