<div class="shareout">
    <div class="shareout-but">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-fenxiang"></use>
        </svg>
    </div>
    <div class="shareout-bod">
        <a class="icon-weibo">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weibo"></use>
            </svg>
        </a>
        <a class="icon-weixin">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weixin"></use>
            </svg>
        </a>
        <a class="icon-qq">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qq"></use>
            </svg>
        </a>
        <a class="icon-weixintubiao">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weixintubiao"></use>
            </svg>
        </a>
        <a class="icon-renren">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-renren"></use>
            </svg>
        </a>
        <a class="icon-douban">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-douban"></use>
            </svg>
        </a>

    </div>
    <div id="qcode">
        <b>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-guanbi"></use>
            </svg>
        </b>
        <p>扫一扫分享</p>
        <div id="code"></div>
    </div>

</div>
